{% extends "layout.html" %}
{% block content %}
<h1>About Us</h1>
<p>This is the home page for our stock market simulation trading page. All the stocks on this website are simulated and do not reflect real world stock movement. All stock bought are only simulated stocks and should not be used for training on a real stock market.</p>
<p>This website has been developed using many various open-source APIs and libraries which we would like to thank developers for. Without them, the website wouldn't be functional!</p>
<a href="https://newsapi.org/"><p>NewsAPI</p></a>
<a href="https://plotly.com/dash/"><p>Plotly Dash</p></a>
<a href="https://plotly.com/chart-studio/"><p>Plotly Chart Studio</p></a>
<a href="https://matplotlib.org/"><p>Matplotlib</p></a>
<a href="http://wtfforms.com/"><p>WTFForms</p></a>
<a href="https://pandas.pydata.org/"><p>Pandas</p></a>
<a href="https://flask.palletsprojects.com/"><p>Flask</p></a>
<a href="https://pypi.org/project/yfinance/"><p>Yahoo Finance</p></a>
<a href="https://dev.mysql.com/"><p>MYSQL</p></a>
<a href="https://flask-sqlalchemy.palletsprojects.com"><p>Flask-SQLAlchemy</p></a>
{% endblock content %}
