{% extends "layout.html" %}
{% block content %}
<body style="
	background-image: url(../static/img/homepage.jpg);
	background-size: cover;
	background-attachment:fixed;
	background-position: center;
	box-sizing: border-box;
	font-family: sans-serif;
">
		<div id="wholePage">
			<div class="intro">

				<div class="wrapper">
					<h2>Automated trading strategy control.</h2>
				</div>

				<p>
					<a href="/viewStategies" ><input class = "btn2" type="button" name="" value="View Current Automated Strategies"></a>
				</p>

				<p>
					<a href="/newStategy" ><input class = "btn2" type="button" name="" value="Create New Strategy"></a>
				</p>

				<p>
					<a href="/deleteStrategies" ><input class = "btn2" type="button" name="" value="Delete your Strategies"></a>
				</p>


			</div>
		</div>



</body>

{% endblock content %}








