{% extends "layout.html" %}
{% block content %}
<body style="
	background-image: url(../static/img/login2.jpg);
	background-size: cover;
	background-attachment:fixed;
	background-position: center;
	box-sizing: border-box;
	font-family: sans-serif;
">


<div class = "login-box1">
	<h1>Welcome to the buying page</h1>

<form method="POST" action="">
	{{ form.csrf_token }}

	<div class="textbox">
	<p>{{ form.ticker.label(class="lbl") }}<br>{{ form.ticker(list="ticker_choices") }}</p>
	<datalist id="ticker_choices">
	{% for choice in choices %}
	<option value={{ choice }}>
	{% endfor %}
	</datalist>
	{% for error in form.ticker.errors %}
		<span style="color: white;">That is not a valid ticker</span>
	{% endfor %}
	</div>
	<div class="textbox">
	<p>{{ form.amount.label(class="lbl") }}<br>{{ form.amount}}</p>
	{% for error in form.amount.errors %}
		<span style="color: white;">That is not a valid amount of shares</span>
	{% endfor %}
	</div>

	<p>{{ form.submit(class="btn2") }}</p>

</form>

</div>
</body>

{% endblock content %}
