{% extends "layout.html" %}
{% block content %}
<body>

<p>Welcome to the Buying Confirmation page.</p>
<p>You are about to buy {{ amount }} {{ ticker.Stock_Name }} shares. The current share price is ${{ "%.2f"|format(ticker.Current_Price) }}</p>
<p>You have a current balance of ${{ "%.2f"|format(current_user.balance) }}</p>
<p>Your balance after this transaction will be ${{ "%.2f"|format(current_user.balance) }} - ( {{ amount }} * ${{ "%.2f"|format(ticker.Current_Price) }}) = ${{ "%.2f"|format(current_user.balance - (amount * ticker.Current_Price)) }}</p>

<form method="POST" action="">
	{{ form.csrf_token }}


	<p>{{ form.submit_yes(class="btnSub") }}</p>
	<p>{{ form.submit_no(class="btnSub") }}</p>

</form>

</body>
{% endblock content %}
