{% extends "layout.html" %}
{% block content %}
<body style="
	background-image: url(../static/img/homepage.jpg);
	background-size: cover;
	background-attachment:fixed;
	background-position: center;
	box-sizing: border-box;
	font-family: sans-serif;
">

</div>
		<div id="wholePage">
			<div class="intro">

				<div class="wrapper">
					<h2>View Strategies</h2>
				</div>

				<p>
					<a href="/automation" ><input class = "btn2" type="button" name="" value="Back to automation menu"></a>
				</p>

				<p>This button clears all your stategies</p>


			</div>
		</div>
</body>

{% endblock content %}
