{% extends "layout.html" %}
{% block content %}
<body style="
	background-image: url(../static/img/homepage.jpg);
	background-size: cover;
	background-attachment:fixed;
	background-position: center;
	box-sizing: border-box;
	font-family: sans-serif;
">

<div id="wholePage">
			<div class="intro">

				<p>You are about to cancel your automated strategy for {{ ticker.Stock_Name }} shares. </p>

				<form method="POST" action="">
					{{ form.csrf_token }}

					<p>{{ form.submit_yes(class="btnSub") }}</p>
					<p>{{ form.submit_no(class="btnSub") }}</p>

				</form>	
			</div>
		</div>







{% endblock content %}
