{% extends "layout.html" %}
{% block content %}
<body style="
	background-image: url(../static/img/homepage.jpg);
	background-size: cover;
	background-attachment:fixed;
	background-position: center;
	box-sizing: border-box;
	font-family: sans-serif;
">
{% if stocks != [] %}
<div class="tcontainer"><div class="ticker-wrap"><div class="ticker-move">
	{% for stock in stocks %}
	<div class="ticker-item">{{ stock.Stock_ID }}:  {{ "%.2f"|format(stock.Current_Price) }}</div>
	{% endfor %}
</div></div></div>
{%endif%}
<div id="wholePage">
	<div class="intro">
		<div class="wrapper">
			<h2>Welcome to Stock Sim</h2>
		</div>
		<p>This is a purely simulated stock market meaning that all the data represented here is not related to real life data. Use this website to practice trading stocks without the fear of losing your own money. It's a stock broker's paradise, all the fun of trading without the risk.</p>
	</div>
</div>

<div class="homeGrid">
	<!-- 				{% if current_user.is_authenticated %}
	<p>
		<a href="/track" ><input class = "btn2" type="button" name="" value="Add New Stock to Database"></a>
	</p>

	{% endif %} -->


	<!-- 				<p>
		<a href="/stock" ><input class = "btn2" type="button" name="" value="View Individual Stock Page"></a>
	</p> -->


	<div class="homeGridItem">

		<a href="/about" ><span class="homeLink">About</span></a>
	</div>


	{% if current_user.is_authenticated %}

		<div class="homeGridItem">
			<a href="/newsSearch" ><span class="homeLink">News</span></a>
		</div>

		<div class="homeGridItem">
			<a href="/graphs" ><span class="homeLink">Descriptive Stocks Graphs</span></a>
		</div>

		<div class="homeGridItem">
			<a href="/buy" ><span class="homeLink">Buy Stocks</span></a>
		</div>


		<div class="homeGridItem">
			<a href="/sell" ><span class="homeLink">Sell Stocks</span></a>
		</div>

		<div class="homeGridItem">
			<a href="{{ url_for('automation') }}"><span class="homeLink">Automation</span></a>
		</div>


	{% else %}
		<div class="homeGridItem">
			<a href="{{ url_for('login') }}" ><span class="homeLink">Login</span></a>
		</div>


		<div class="homeGridItem">
			<a href="{{ url_for('register') }}" ><span class="homeLink">Register</span></a>
		</div>


	{% endif %}

</div>
</body>

{% endblock content %}
