{% extends "layout.html" %}
{% block content %}

<h1>Stocks</h1>
<p>
	<a class = 'nav-item nav-link' href = '/stocks'>Designated Stock Graph Viewing page</a>
</p>

<p> 
	<a class = 'nav-item nav-link' href = "/track">Add new stock to database
</p>

<p>
	<a class = 'nav-item nav-link' href = '/news'>View news stories</a>
</p>

<p>
	<a class = 'nav-item nav-link' href = '/portfolio'>View your portfolio</a>
</p>

<p>
	<a class = 'nav-item nav-link' href = "/search">Search</a>
</p>

<p>
	<a class = 'nav-item nav-link' href = "/buy">Buy</a>
</p>

<p>
	<a class = 'nav-item nav-link' href = "/sell">Sell</a>
</p>



{% endblock content %}
