<!doctype html>
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style2.css') }}">
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='AccountStyle.css') }}">
  <link rel = "styleSheet" href = "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='RegisterStyle.css') }}">
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='tickerstyle.css') }}">
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='StockStyle.css') }}">
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='ConfirmPageStyle.css') }}">
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='StockTableStyle.css') }}">
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='pop-upsStyle.css') }}">
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='gridStyle.css') }}">
  <title>Stock Sim</title>
</head>

  <section>
    <div class="menu-bar">
      <ul>
        <li><i class="fa fa-home"></i><a href="{{ url_for('home') }}">Home</a></li>

        <li>
          <i class="fa fa-align-left"></i><a href="/available">Stock</a>
          <div class="sub-menu-1">
            <ul>
                  <li><a class="nav-item nav-link" href="/available">View all Stocks</a></li>
                  {% if current_user.is_authenticated %}
                  <li><a class="nav-item nav-link" href="{{ url_for('track') }}">Track a New Stock</a></li>
                  {% endif %}
            </ul>
          </div>
        </li>

        <li><i class="fa fa-align-left"></i><a href="{{ url_for('portfolio') }}">Portfolio</a></li>

        <li>
          <i class="fa fa-align-left"></i><a href="{{ url_for('automation') }}">Automation</a>
          <div class="sub-menu-1">
            <ul>
                  <li><a class="nav-item nav-link" href="{{ url_for('viewStategies') }}">View Strategies</a></li>
                  <li><a class="nav-item nav-link" href="{{ url_for('newStategy') }}">Create New Strategies</a></li>
                  <li><a class="nav-item nav-link" href="{{ url_for('deleteStrategies') }}">Delete Strategies</a></li>
            </ul>
          </div>
        </li>

        <li>
          <i class="fa fa-lock"></i><a href="#">Account</a>
          <div class="sub-menu-1">
            <ul>
                {% if current_user.is_authenticated %}
                  <li>Hello, {{ current_user.first_name }}!</li>
                  <li><a class="nav-item nav-link" href="{{ url_for('logout') }}">Logout</a></li>
                {% else %}
                  <li>Hello, Guest!</li>
                  <li> <a href="{{ url_for('login') }}">Login</a></li>
                  <li><a href="{{ url_for('register') }}">Register</a></li>
                {% endif %}
            </ul>
          </div>
        </li>

<!--         <div class="search-bar">
          <i class="fa fa-search"></i>
          <input type="stock" placeholder="Input the stock name" name="" value="">
        </div> -->

        <div class="button3">
          <a href="{{ url_for('search') }}"><input class="btn3" type="button" name="" value="Search"></a>
        </div>

      </ul>
      <div>
  </section>


<!-- <body> -->

  <div class = "Pop-upMessage">

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class= flashes>
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

   </div>


<!--   <div id="content">-->
    {% block content %}
    {% endblock %}
<!--   </div> -->

<!-- </body> -->
</html>
