{% extends "layout.html" %}
{% block content %}

<body style="
  background-image: url(../static/img/login2.jpg);
  background-size: cover;
  background-attachment:fixed;
  background-position: center;
  box-sizing: border-box;
  font-family: sans-serif;">

<div class = "register">
    <h1>Automated Strategy</h1>

    <form method="POST" action="">

    {{ form.csrf_token }}
    {{ form.ticker(list="ticker_choices", placeholder="Trigger ID")}}
    <datalist id="ticker_choices">
    {% for choice in choices %}
    <option value={{ choice }}>
    {% endfor %}
    </datalist>

		{% for error in form.ticker.errors %}
      <span style="color: white;">[{{ error }}]</span>
    {% endfor %}

    {{ form.trigger_price(placeholder="Price Trigger")}}
    {{ form.limit(placeholder="Limit of shares to trade")}}
    {{ form.increment(placeholder="How many shares to trade")}}
    {{ form.trigger.label()}}  {{ form.trigger()}}
    {{ form.strategy.label()}} {{ form.strategy()}}

    {{ form.submit(class = "btn2") }}

    </form>


</div>

</body>



{% endblock content %}
