{% extends "layout.html" %}
{% block content %}

<body style="
  background-image: url(../static/img/login2.jpg);
  background-size: cover;
  background-attachment:fixed;
  background-position: center;
  box-sizing: border-box;
  font-family: sans-serif;">

<div class = "register">
    <h1>Automated Strategy</h1>

    <p>These are the feilds for setting up your automated trading, Trigger id is the ticker of the stock you want to trade, price trigger is the share price that would want this strategy to start trading. Limit is the amount of shares this bot is authorised to trade with. How many shares allows you to set the increment of how many shares the strategy will trade at a time. Trigger is whether you want the strategy to trigger when the share price either goes above or below the price price. The strategy box is if you want to buy or sell.</p>
    
    <form method="POST" action="">

    {{ form.csrf_token }}
    {{ form.ticker(list="ticker_choices", placeholder="Trigger ID")}}
    <datalist id="ticker_choices">
    {% for choice in choices %}
    <option value={{ choice }}>
    {% endfor %}
    </datalist>

		{% for error in form.ticker.errors %}
      <span style="color: white;">[{{ error }}]</span>
    {% endfor %}

    {{ form.trigger_price(placeholder="Price Trigger")}}
    {{ form.limit(placeholder="Limit of shares to trade")}}
    {{ form.increment(placeholder="How many shares to trade")}}
    {{ form.trigger.label()}}  {{ form.trigger()}}
    {{ form.strategy.label()}} {{ form.strategy()}}
    <br>

    {{ form.submit() }}

    </form>
</div>

</body>



{% endblock content %}
