{% extends "layout.html" %}

{% block content %}
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
	$(document).ready(function(){
		$("#History").hide();
	  $(".ShowHide").click(function(){
			var $this = $(this);
			$this.toggleClass('ShowHide');
			$("#History").toggle(1000);
			if($this.hasClass('ShowHide')){
				$this.text('Show');
			}
			else{
				$this.text('Hide');
			}
	  });
	});
</script>
</head>


<body style="
	background-image: url(../static/img/homepage.jpg);
	background-size: cover;
	background-attachment:fixed;
	background-position: center;
	box-sizing: border-box;
	font-family: sans-serif;
">

		<div id="wholePage">
			<div class="intro">
				<div class="wrapper">
					<h2>Welcome!</h2>
				</div>

					<p>Hey {{ current_user.first_name }} {{ current_user.last_name }}</p>
					<p> Your current balance is ${{ "%.2f"|format(current_user.balance) }} </p>


					{% if portfolio != [] %}
					<div style = "margin:0 auto;text-align: center">

						<table>
							<tr>
								<th>Stock ID</th>
								<th>Amount of Shares</th>
								<th>Price per stock</th>
								<th>Overall price for stock</th>
								<th>Your investment</th>
							</tr>
						{% for purchase in portfolio %}
							<tr>
								<td>{{ purchase.Stock_ID }}</td>
								<td>{{ purchase.Amount_of_Shares }}</td>
								{% for stock in stock_desc %}
									{% if purchase.Stock_ID == stock.Stock_ID %}
										{% set current_price = stock.Current_Price %}
										<td>${{ "%.2f"|format(current_price) }}</td>
										{% set current_total = current_price * purchase.Amount_of_Shares %}

										{% if "%.2f"|format(current_total) < "%.2f"|format(purchase.Spend) %}
											<td><font color="red">${{ "%.2f"|format(current_total) }} (down by ${{ "%.2f"|format(purchase.Spend - current_total) }})</font></td>
										{% elif "%.2f"|format(current_price * purchase.Amount_of_Shares) > "%.2f"|format(purchase.Spend) %}
											<td><font color="green">${{ "%.2f"|format(current_total) }} (up by ${{ "%.2f"|format(current_total - purchase.Spend) }})</font></td>
										{% else %}
											<td>${{ "%.2f"|format(current_total) }}</td>
										{% endif %}
										<td>${{ "%.2f"|format(purchase.Spend) }}</td>
									{% endif %}
								{% endfor %}
							</tr>
						{% endfor %}
						</table>
				    </div>
						<p> The total value of your portfolio is ${{ "%.2f"|format(total) }} </p>
						<p> Portfolio value combined with your balance is ${{ "%.2f"|format(total + current_user.balance) }} </p>
						{% if perc >= 0.0 %}
						<p> Your percentage increase is +{{ "%.2f"|format(perc) }}% from what you have started </p>
						{% else %}
						<p> Your percentage decrease is {{ "%.2f"|format(perc) }}% from what you have started </p>
						{% endif %}

					{% else %}
						<p><b>You have not purchased any stocks</b></p>
					{% endif %}

			<p>History</p>

			<button class="ShowHide" id = "ShowHide"> Show </button>
			<div id="History">
			{% if history != [] %}
				<p>Buy</p>
				{% if check_history[0] == False %}
					<p>You have not bought any stocks yet</p>
				{% else %}
				<div style = "margin:0 auto;text-align: center">
					<table align="center" id="Buy">
						<tr>
							<th>Date</th>
							<th>Stock ID</th>
							<th>Price</th>
							<th>Amount</th>
						</tr>
					{% for buy in history %}
						{% if buy.Operation == "Buy" %}
							<tr>
								<td>{{ buy.Date }}</td>
								<td>{{ buy.Stock_ID }}</td>
								<td>{{ buy.Price }}</td>
								<td>{{ buy.Amount }}</td>
							</tr>
						{% endif %}
					{% endfor %}
				</table>
			</div>
			{% endif %}
			<p>Sell</p>
			{% if check_history[1] == False %}
				<p>You have not sold any stocks yet</p>
			{% else %}
			<div style = "margin:0 auto;text-align: center">
				<table align="center" id="Sell">
					<tr>
						<th>Date</th>
						<th>Stock ID</th>
						<th>Price</th>
						<th>Amount</th>
					</tr>
				{% for sell in history %}
					{% if sell.Operation == "Sell" %}
						<tr>
							<td>{{ sell.Date }}</td>
							<td>{{ sell.Stock_ID }}</td>
							<td>{{ sell.Price }}</td>
							<td>{{ sell.Amount }}</td>
						</tr>
					{% endif %}
				{% endfor %}
			</table>
		</div>
		{% endif %}
			{% else %}
				<p><b>Your portfolio history is empty</b></p>
			{% endif %}
			</div>
			</div>


		</div>
</body>

{% endblock content %}
