{% extends "layout.html" %}
{% block content %}
<body>

<p>Welcome to the Selling page.</p>

{% if current_user.is_authenticated %}
	<p> Your current balance is {{ current_user.balance }} </p>
	<p></p>
	{% if portfolio != [] %}
		<table>
			<tr>
				<th>Stock ID</th>
				<th>Amount of Shares</th>
			</tr>
		{% for purchase in portfolio %}
			<tr>
				<td>{{ purchase.Stock_ID }}</td>
				<td>{{ purchase.Amount_of_Shares }}</td>
			</tr>
		{% endfor %}
		</table>
	{% else %}
		<p><b>You have not purchased any stocks</b></p>
	{% endif %}

{% else %}
	<p> Hey Guest </p>
	<p> Please login to view your portfolio</p>
{% endif %}

<form method="POST" action="">
	{{ form.csrf_token }}

	<p>{{ form.ticker.label(class="lbl") }}<br>{{ form.ticker(class="inp")}}</p>
	{% for error in form.ticker.errors %}
		<span style="color: white;">That is not a valid ticker</span>
	{% endfor %}

	<p>{{ form.amount.label(class="lbl") }}<br>{{ form.amount(class="inp")}}</p>
	{% for error in form.ticker.errors %}
		<span style="color: white;">That is not a valid amount of shares</span>
	{% endfor %}

	<p>{{ form.submit(class="btnSub") }}</p>

</form>
</body>
{% endblock content %}