{% extends "layout.html" %}
{% block content %}
<body style="
	background-image: url(../static/img/homepage.jpg);
	background-size: cover;
	background-attachment:fixed;
	background-position: center;
	box-sizing: border-box;
	font-family: sans-serif;
">

</div>
		<div id="wholePage">
			<div class="intro">

				<div class="wrapper">
					<h2>View Strategies</h2>
				</div>

				<p>
					<a href="/automation" ><input class = "btn2" type="button" name="" value="Back to automation menu"></a>
				</p>
				<p>Your active Strategies</p>
				{% if strategies != [] %}
					<table>
						<tr>
							<th>Stock ID</th>
							<th>Trigger</th>
							<th>Trigger price</th>
							<th>Strategy</th>
							<th>Increment</th>
							<th>Limit</th>
						</tr>
					{% for strat in strategies %}
						<tr>
							<td>{{ strat.Stock_ID }}</td>
							<td>{{ strat.Trigger }}</td>
							<td>{{ strat.Trigger_Price}}</td>
							<td>{{ strat.Strategy }}</td>
							<td>{{ strat.Increment }}</td>
							<td>{{ strat.Limit }}</td>
						</tr>
					{% endfor %}
					</table>
				{% else %}
					<p><b>You have not setup and automated trading</b></p>
				{% endif %}


			</div>
		</div>
</body>

{% endblock content %}
