body {
color: white;

}


h1 {

}

.articles{
	padding-top:20px;
	padding-bottom: 20px;
	padding-left: 80px;
	padding-right: 160px;
	margin-left: 100px;
	margin-right: 100px;
	background-color:rgba(22, 48, 69, 0.7);	

}