body {
	background-color: white;
}
.price{
position: relative;
right:-30px;
font-weight: bold;
font-size:25px;
}

.info{
width:750px;
position: relative;
right:-30px;
}

.ticker {
	font-size:40px;
	font-weight: bold;
	position: relative;
	right:-30px;
}

.owned {
width:750px;
position: relative;
right:-30px;
}

.buy {
	width:50px;
	position: relative;
	right:-30px;
}

.sell {
width:50px;
position: relative;
right:-30px;
}
