<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link rel= "stylesheet" href="css/styleSet.css">
    <!--Custom Stylesheet-->

    <title>Account Details</title>
  </head>
  <body>
  
    <!--Navigation Bar-->
  <div class="menu-bar">
      <ul>
        <li class="active"><i class="fa fa-home"></i><a href="HomePage.html">Home</a></li>

        <li>
          <i class="fa fa-search"></i><a href="AllStocksPage.html">Stocks</a>
          <div class="sub-menu-1">
            <ul>
              <li><a href="CryptoStockPage.html">Crypto</a></li>
              <li><a href="CommoditesStockPage.html">Commodities</a></li>
              <li><a href="OptionsStockPage.html">Options</a></li>
            </ul>
          </div>
        </li>

        <li><i class="fa fa-align-left"></i><a href="Portfolio.html">Portfolio</a></li>

        <li><i class="fa fa-eye"></i><a href="Wishlist.html">Wishlist</a></li>

        <li>
          <i class="fa fa-lock"></i><a href="AccountDetail.html">Account</a>
          <div class="sub-menu-1">
            <ul>
              <li><a href="AccountDetail.html">Details</a></li>
              <li><a href="#">Log out</a></li>
            </ul>
          </div>
        </li>

        <div class="search-bar">
          <i class="fa fa-search"></i>
          <input type="stock" placeholder="Input the stock name" name="" value="">
        </div>

        <div class="button3">
          <input class="btn3" type="button" name="" value="Search">
        </div>

      </ul>
  </div>
<h1>Account Details</h1>
  <div class = "settings">
    
    <form action ="cgi-bin/update.py" method="POST">
      <label for= "username">Username</label>
      <input type="text" placeholder = "ijdwghfyre"  name="username" required>
      <label for= "first name">First Name</label>
      <input type="text" placeholder = "John"  name="first name" required>
      <label for= "surname">Surname</label>
      <input type="text" placeholder = "Smith"  name="surname" required>
      <label for= "email">Email</label>
      <input type="text" placeholder = "example@mail.co.uk"  name="email" required>
      <label for= "d">DOB</label>
      <input type="date" placeholder = ""  name="dob" required>

      <input type="SUBMIT" id="save" name="save" value="Update Account">
    </form>
    
    <form action ="cgi-bin/delete.py" id = "form2" method ="POST">

      <input type="text" placeholder = "Input password to delete account" id="password" name="password" required>
      <input type="SUBMIT" id ="delete" name="delete" value="Delete Account"> 
    </form>
  </div>
  </body>
</html>
