{% extends "layout.html" %}
{% block content %}

	<body>
		<div id="wholePage">
			<div class="intro">
				<div class="wrapper">
					<h2>All the Stocks are below!</h2>
					<p>
						Int r oIntr oInt roI nt roIn troI nt oInt roIn troI ntro Intr oI ntroI ntro I ntro Int ro Intro I ntr oIntro ntroIn troIn t roIntr oInt roIntr o Intro Intr oIn tr Intr oIntroI  troIntr oIn troI ntro Int roI ntroIn troIn troI n tro Intr oIn tr oIntr oIn tro IntroI nt r oIn tro
					</p>
				</div>
			</div>
	</div>
	</body>	

{% endblock content %}
