<html>
<head>
	<link rel = "styleSheet" href = "css/style2.css">
	<link rel = "styleSheet" href = "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

	<section>
		<div class="menu-bar">
			<ul>
				<li><i class="fa fa-home"></i><a href="HomePage.html">Home</a></li>

				<li class="active">
					<i class="fa fa-search"></i><a href="AllStocksPage.html">Stocks</a>
					<div class="sub-menu-1">
						<ul>
							<li><a href="CryptoStockPage.html">Crypto</a></li>
							<li><a href="CommoditesStockPage.html">Commodities</a></li>
							<li><a href="OptionsStockPage.html">Options</a></li>
						</ul>
					</div>
				</li>

				<li><i class="fa fa-align-left"></i><a href="Portfolio.html">Portfolio</a></li>

				<li><i class="fa fa-eye"></i><a href="Wishlist.html">Wishlist</a></li>

				<li>
					<i class="fa fa-lock"></i><a href="AccountDetail.html">Account</a>
					<div class="sub-menu-1">
						<ul>
							<li><a href="AccountDetail.html">Details</a></li>
							<li><a href="#">Log out</a></li>
						</ul>
					</div>
				</li>

				<div class="search-bar">
					<i class="fa fa-search"></i>
					<input type="stock" placeholder="Input the stock name" name="" value="">
				</div>

				<div class="button3">
					<input class="btn3" type="button" name="" value="Search">
				</div>

			</ul>
			<div>
	</section>

	<body>
		<div id="wholePage">
			<div class="intro">
				<div class="wrapper">
					<h2>All the Stocks below!</h2>
					<p>
						Int r oIntr oInt roI nt roIn troI nt oInt roIn troI ntro Intr oI ntroI ntro I ntro Int ro Intro I ntr oIntro ntroIn troIn t roIntr oInt roIntr o Intro Intr oIn tr Intr oIntroI  troIntr oIn troI ntro Int roI ntroIn troIn troI n tro Intr oIn tr oIntr oIn tro IntroI nt r oIn tro
					</p>
				</div>
			</div>
	</div>
	</body>	
</html>