{% extends "layout.html" %}
{% block content %}

	<body>
		<div id="wholePage">
			<div class="intro">
				<div class="wrapper">
					<h2>Welcome to our market!</h2>
					<p>
						Int r oIntr oInt roI nt roIn troI nt oInt roIn troI ntro Intr oI ntroI ntro I ntro Int ro Intro I ntr oIntro ntroIn troIn t roIntr oInt roIntr o Intro Intr oIn tr Intr oIntroI  troIntr oIn troI ntro Int roI ntroIn troIn troI n tro Intr oIn tr oIntr oIn tro IntroI nt r oIn tro
					</p>
				</div>
			</div>

			<div class="index-news">
				<div class="wrapper">
					<article>
						<div class="news-img"></div>
						<div class header3><h3><a href="#">This is a news tittle!</a></h3></div>
						<p>source:</p>
						<p>author:</p>
						<p>dwadada dadas dwaa dw a dwa dawas hkdwa jdaw dawhjk</p>
					</article>

					<article>
						<div class="news-img"></div>
						<h3><a href="#">This is a news tittle!</a></h3>
						<p>source:</p>
						<p>author:</p>
						<p>dwadada dadas dwaa dw a dwa dawas hkdwa jdaw dawhjk</p>
					</article>

					<article>
						<div class="news-img"></div>
						<h3><a href="#">This is a news tittle!</a></h3>
						<p>source:</p>
						<p>author:</p>
						<p>dwadada dadas dwaa dw a dwa dawas hkdwa jdaw dawhjk</p>
					</article>
				</div>
			</div>

			<div class="index-stock-viewing">

				<div class="Table-Div">
					<table>
						<tr>
							<th>Stock Name</th>
							<th>Stock Price</th>
							<th>Stock ****</th>
							<th>Stock ****</th>
						</tr>

						<tr>
							<td><a href="#">Apple</td>
							<td>0.55</td>
							<td>****</td>
							<td>****</td>
						</tr>

						<tr>
							<td><a href="#">Tesla</td>
							<td>0.77</td>
							<td>****</td>
							<td>****</td>
						</tr>

						<tr>
							<td><a href="#">NVDA</td>
							<td>0.75</td>
							<td>****</td>
							<td>****</td>
						</tr>

						<tr>
							<td><a href="#">Microsoft</td>
							<td>0.88</td>
							<td>****</td>
							<td>****</td>
						</tr>


					</table>
				</div>
			</div>
		</div>
	</body>
{% endblock content %}