
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <title>Stock Market</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <!--Custom Stylesheet-->
  </head>

  <body>
    <div class = "login-box">
    <h1>Login</h1>
    <div class="textbox">
      <input type="text" placeholder="Username" name="" value="">
    </div> 

    <div class="textbox">
      <input type="password" placeholder="Password" name="" value="">
    </div>

    <a href="#" ><input class = "btn" type="button" name="" value="Sign In"></a>
    <a href="RegiserPage.html" ><input class = "btn2" type="button" name="" value="Register"></a>
    </div>
  </body>
</html>
