<!DOCTYPE html>
<html lang="en">
 <!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">



	<link rel= "stylesheet" href="css/styleReg.css">
	    <!--Custom Stylesheet-->

	<title>Register</title>
	<body>

	<div class="menu-bar">
    <ul>
      <li class="active"><i class="fa fa-home"></i><a href="#">Home</a></li>

      <li><i class="fa fa-search"></i><a href="#">Stocks</a>
        <div class="sub-menu-1">
          <ul>
            <li><a href="#">Crypto</a></li>
            <li><a href="#">Commodities</a></li>
            <li><a href="#">Options</a></li>
          </ul>
        </div>
      </li>

      <li><i class="fa fa-align-left"></i><a href="#">Portfolio</a></li>

      <li><i class="fa fa-eye"></i><a href="#">Wishlist</a></li>

      <li><i class="fa fa-eye"></i><a href="#">Account</a>
        <div class="sub-menu-1">
          <ul>
            <li><a href="#">Details</a></li>
            <li><a href="#">Log out</a></li>
          </ul>
        </div>
      </li>
    </ul>
    </div> 
	<div class = "register">
    <h1>Register</h1>
  	<form action ="cgi-bin/Easter.py" method="POST">

  	<input type="text"placeholder = "First Name" id="input_name" name="name" required>

  	<input type="text"placeholder = "Surname" id="input_surname" name="surname" required>

  	<input type="text"placeholder = "Username" id="input_username" name="username" required>

  	<input type="text" placeholder="Email" name="email" required>

  	<input type="password" placeholder="Password" name="psw" required>

  	<input type="password" placeholder="Repeat Password" name="psw-repeat" required>

  	<input type="SUBMIT" id="SignUp" name="Sign Up" value="Sign Up">
  </div>
	</form>
	</body>
</html>