<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link rel= "stylesheet" href="css/styleSet.css">
    <!--Custom Stylesheet-->

    <title>Tesla</title>
  </head>
  <body>
  
    <!--Navigation Bar-->
  <div class="menu-bar">
    <ul>
      <li class="active"><i class="fa fa-home"></i><a href="#">Home</a></li>

      <li><i class="fa fa-search"></i><a href="#">Stocks</a>
        <div class="sub-menu-1">
          <ul>
            <li><a href="#">Crypto</a></li>
            <li><a href="#">Commodities</a></li>
            <li><a href="#">Options</a></li>
          </ul>
        </div>
      </li>

      <li><i class="fa fa-align-left"></i><a href="#">Portfolio</a></li>

      <li><i class="fa fa-eye"></i><a href="#">Wishlist</a></li>

      <li><i class="fa fa-eye"></i><a href="#">Account</a>
        <div class="sub-menu-1">
          <ul>
            <li><a href="#">Details</a></li>
            <li><a href="#">Log out</a></li>
          </ul>
        </div>
      </li>
    </ul>
    </div> 
    <h1>TSLA</h1>
    <h1>Tesla Motors</h1>
    <h4>About</h4>
    <h4>News</h4>
    <h4>Stats</h4>
    <input class = "btn" type="button" name="" value="Add to Watchlist">
    <input class = "btn2" type="button" name="" value="Buy">


  </body>
</html>
