pp<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel = "styleSheet" href = "css/style2.css">
    <link rel= "stylesheet" href="css/AccountStyle.css">
    <!--Custom Stylesheet-->

    <title>Tesla</title>
  </head>
  <body>
  
    <!--Navigation Bar-->
	<div class="menu-bar">
	  <ul>
	    <li class="active"><i class="fa fa-home"></i><a href="HomePage.html">Home</a></li>

	    <li>
	      <i class="fa fa-search"></i><a href="AllStocksPage.html">Stocks</a>
	      <div class="sub-menu-1">
	        <ul>
	          <li><a href="CryptoStockPage.html">Crypto</a></li>
	          <li><a href="CommoditesStockPage.html">Commodities</a></li>
	          <li><a href="OptionsStockPage.html">Options</a></li>
	        </ul>
	      </div>
	    </li>

	    <li><i class="fa fa-align-left"></i><a href="Portfolio.html">Portfolio</a></li>

	    <li><i class="fa fa-eye"></i><a href="Wishlist.html">Wishlist</a></li>

	    <li>
	      <i class="fa fa-lock"></i><a href="AccountDetail.html">Account</a>
	      <div class="sub-menu-1">
	        <ul>
	          <li><a href="AccountDetail.html">Details</a></li>
	          <li><a href="#">Log out</a></li>
	        </ul>
	      </div>
	    </li>

	    <div class="search-bar">
	      <i class="fa fa-search"></i>
	      <input type="stock" placeholder="Input the stock name" name="" value="">
	    </div>

	    <div class="button3">
	      <input class="btn3" type="button" name="" value="Search">
	    </div>

	  </ul>
	</div>
	<h1>Tesla Motors</h1>
	<h2>TSLA</h2>
	<input class = "btn" type="button" name="" value="Add to Watchlist">
	
	<h4>About</h4>
	<p>djiojfoeiwfeo</p>
	<h4>News</h4>
	<p>fhwiuehfis</p>
	<h4>Stats</h4>
	<p>hdiuhfieuh9i</p>
	<input class = "btn2" type="button" name="" value="Buy">
	


  </body>
</html>
